@use 'variables' as vars;
@use 'mixins' as mix;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 24px;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}

body {
  background: vars.$grey-200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .logo {
    width: 87px;
    height: 54px;
  }

  @include mix.tablet {
    padding: 0 80px;
  }
}
