@use 'variables' as vars;
@use 'mixins' as mix;

.calculator__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  background: vars.$white;
  padding: 32px 24px;
  margin-top: 41px;
  border-radius: 25px 25px 0 0;
  box-shadow: 0 32px 43px 0 hsl(185, 38, 50);
  max-width: 920px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    font-size: 16px;
    line-height: 24px;
    color: vars.$grey-500;
  }
  input {
    padding: 8px 16px;
    background: vars.$grey-50;
    color: vars.$green-900;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    outline: none;
    text-align: right;
  }
  .discount__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;

    .btn {
      background: vars.$green-900;
      color: vars.$white;
      font-size: 24px;
      font-weight: 700;
      padding: 8px 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .custom-btn {
      background: vars.$grey-50;
      color: vars.$green-550;
    }

    button[data-tip='15'] {
      background: vars.$green-400;
      color: vars.$green-900;
    }
  }
  // property for button custom
  .hidden {
    display: none;
  }
}

// seciton tip__result

.tip__result {
  background: vars.$green-900;
  border-radius: 15px;
  padding: 24px 24px 0;
}
.amount,
.tip__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount__details,
.tip__details {
  font-size: 16px;
  line-height: 24px;
  color: vars.$white;

  p:last-child {
    color: vars.$grey-400;
    font-size: 13px;
    line-height: 19px;
  }
}

.tip-amount,
.total-amount {
  font-size: 32px;
  color: vars.$green-400;
}

.amount {
  margin-bottom: 24px;
}
.tip__total {
  margin-bottom: 32px;
}

.reset-btn {
  padding: 8px 32px;
  width: 100%;
  background: vars.$green-400;
  color: vars.$green-900;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}
